/*
button {background:linear-gradient(#eee, #ccc); color:black; border:1px solid #ccc; padding:.5em;border-radius:5px;}
small {color:#888; font-size:.9em; line-height:1em;}
.inline-label {background:#eee; padding:.75em; margin:.25em;}
*/

html {font:14px/1.5 sans-serif;}
body {margin:auto; max-width:40em; padding:1em; padding-top:1em;}
hidden {display:none}
h1 {font-size:2em; line-height:1.25}
h2 {font-size:1em; margin-top:2em; margin-bottom:0}
p {margin-bottom:1em;margin-top:0}

/* details summary */
summary::-webkit-details-marker {display:none} summary {list-style-type:none}
.details {overflow-y:scroll; height:0px; font-size:.8em; padding:0 4em; visibility:hidden; display:block}
[open] > .details {height:300px; visibility: visible}
summary:hover .toggler-show {color:black}
.toggler-show {float:right; font-weight:bold; font-size:1.2em; transform:rotate(.25turn);
  text-align:center; color:#bbb; transition: .25s}
.toggler-show:after {content:"▼"}
[open] > summary > .toggler-show {transform:rotate(0turn)}
clear {clear:both; display:block}
summary {cursor:pointer; display:block; border-top:1px solid #aaa}
summary b {padding:.5em; padding-bottom:0; display:block}

.box-b {padding-left:4px; overflow:hidden; /*border-left: 1px solid black; border-top: 1px solid black*/}
.box-c {background:#ddd;height:1px;position:absolute}
.highlight-box-b {box-shadow: 0 0 10px black}

.flex {display:flex; align-items:flex-start; margin:.5em 0}
.module-wrapper {flex-grow:1}
.flex > label {padding:.4em}
.module {display:flex; border:1px dotted silver; padding:0.25em 0.5em}
.module:hover {border:1px solid black; cursor:pointer;}
.module > span {overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.module > span:nth-child(1) {width:3em;color:red}
.module > span:nth-child(2) {width:3em}
.module > span:nth-child(3) {flex-grow:1; width:0}
.module > span:nth-child(4) {width:6em;color:green}
.module > span:nth-child(5) {width:3em}

.conflicting {background:#eee; opacity:.5}
.checked .module {background:#f3ffbd; opacity:1}

.tb.list tr > td:nth-child(6) {font-size:.5em}

@media (min-width: 1100px) {
  body {max-width:80em}
  #main3, #main2 {width:50%; box-sizing:border-box}
  #main2 {position: fixed; top:0; right:0; height: 100vh; overflow-y:scroll; padding:3em 1em}
}

.color-0 {background: hsl(0,100%,80%)}
.color-1 {background: hsl(60,100%,80%)}
.color-2 {background: hsl(120,100%,80%)}
.color-3 {background: hsl(180,100%,80%)}
.color-4 {background: hsl(240,100%,80%)}
.color-5 {background: hsl(300,100%,80%)}
.color-6 {background: hsl(30,100%,80%)}
.color-7 {background: hsl(90,100%,80%)}
.color-8 {background: hsl(130,100%,80%)}
.color-9 {background: hsl(210,100%,80%)}
.color-10 {background: hsl(270,100%,80%)}
.color-11 {background: hsl(330,100%,80%)}

.esc, .prev, .next {display:none}

body.welcome {font:15px/1.75 sans; max-width:640px; margin:auto; padding:30px}
