body {font:14px/1.4 /*'EB Garamond', Garamond, Georgia, */ Roboto, sans-serif;}
body {margin:auto; max-width:40em; padding:1em; padding-top:1em;}
.hidden {display:none}

button {background:linear-gradient(#eee, #ccc); color:black; border:1px solid #ccc; padding:.5em;border-radius:5px;}
h1 {font-size:2em;}
small {color:#888; font-size:.9em; line-height:1em;}

.inline-label {background:#eee; padding:.75em; margin:.25em;}

.details {overflow-y:scroll; height:0px; transition:height .2s; font-size:.8em; padding:0 4em; visibility:hidden;}
.details.active {display:block; height:300px; visibility: visible}

.toggler-show {float:right; width:2.9rem; font-weight:bold; font-size:1.5em;
  vertical-align:middle; padding:0.2rem 0; text-align:center; color:#bbb; transition: .25s}
.toggler-show:after {content: "▼";}
input.toggler {display:none}
label.toggler {display:block; border-top:1px solid #aaa}
label.toggler b {padding:.5em; padding-bottom:0; display:block}
label.toggler:hover {cursor:pointer}
label.toggler:hover  .toggler-show {color:black}

.course-wrapper {position:relative; border: 1px dotted silver; margin:.2em 0;}
input[type="checkbox"] {position:absolute; top:0; bottom:0; margin:auto; left:.75rem; z-index:1;}
.course-wrapper:hover {border:1px solid black; cursor:pointer;}
.conflicting, .removed {background:#eee; opacity:.5} .checked {background:#9b0; opacity:1}
.checked .remover, .removed .checker {display:none}
.toggled .toggler-show {transform:rotate(.25turn)}
.toggled > :not(:nth-child(2)) {display:none}
.course-wrapper label {width:2rem; top:0; bottom:0; position:absolute}

.course {padding:.5em; margin-left:2em; display:inline-block;
  width:calc(100% - 1em - 3em - 3em - .5em)}
.course > span {display:inline-block; overflow:hidden; vertical-align:top;
  text-overflow:ellipsis; white-space:nowrap}
.course > span:nth-child(1) {width:3em;color:red}
.course > span:nth-child(2) {width:3em}
.course > span:nth-child(3) {width:calc( 100% - 2em - 3em - 5em - 2em )}
.course > span:nth-child(4) {width:5em;float:right;color:green}
clear {clear:both; display:block}

input.remover {display:none}
label.remover {display:inline-block; text-align:center; width:2.9rem; font-weight:bold;
  color:#bbb; font-size:1.5em; vertical-align:middle; padding:0.2rem 0;}
label.remover:hover {cursor:pointer; color:black;}

.item-not-marked {background:silver}
.item-not-marked.orange-color {color:silver}
.item-marked {background:orange}
.item-marked.orange-color {color:orange}

.box-b {padding-left:4px; overflow:hidden; /*border-left: 1px solid black; border-top: 1px solid black*/}
.box-c {background:#ddd;height:1px;position:absolute}
.highlight-box-b {box-shadow: 0 0 10px black}

.tb.list tr > td:nth-child(6) {font-size:.5em}

/* .category > :not(:nth-child(2)) {margin-left: 2em} */

@media (min-width: 1100px) {
  body {max-width:80em}
  body > :first-child {width:50%}
  #main, #main2 {width:50%; box-sizing:border-box}
  #main2 {position: fixed; top:0; right:0; height: 100vh; overflow-y:scroll; padding:3em 1em}
}

.color-0 {background: #dc4444}
.color-1 {background: #9066d9}
.color-2 {background: #03A9F4}
.color-3 {background: #439646}
.color-4 {background: #FFEB3B}
.color-5 {background: #FF5722}
.color-6 {background: #E91E63}
.color-7 {background: #00BCD4}
.color-8 {background: #8BC34A}
.color-9 {background: #FFC107}
.color-10 {background: #795548}
.color-11 {background: #9C27B0}
.color-12 {background: #2196F3}
.color-13 {background: #009688}
.color-14 {background: #CDDC39}
.color-15 {background: #FF9800}


.esc, .prev, .next {display:none}
/*

.details {
    transition: none;
    display: block;
    font-size: 1.25em;
    visibility: visible;
    background: rgba(0,0,0,0.8); color: white;
    padding-top: 2em; padding-bottom: 2em; box-sizing: border-box;
    top: 0; bottom: 0; left: 0; right: 0; height: 100%; position: fixed; z-index: 2;
}
.details{display:none}
.details.active{display:block; height: 100%;}

.esc {top:0; right:0;
    border-radius: 100%;
    width: 2.5em;
    height: 2em;
    margin: .5em;
    padding-top: .5em;
}
.prev{left:0; top:10%; bottom:10%}
.next{right:0; top:10%; bottom:10%}
.prev, .next {
    width: 3em;
    padding-top: 20%;
    box-sizing: border-box;
}
.esc, .prev, .next {
    display: block;
    position: fixed;
    background: black;
    text-align: center;
    cursor: pointer;
}
.esc:hover, .prev:hover, .next:hover { background: #222 }
